@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

:root {
    --main-font: 'Cairo', sans-serif;
    --white : #ffffff;
    --primary-blue:#007AFF;
    --secondary-offwhite: #FFF7F2;
    --txt-black: #333333;
    --danger: #eb5757
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: var(--main-font) !important;
    overflow-x: hidden;
}
.primary_bg {background-color: var(--primary-blue);}
.main-nav {

    background: var(--white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;

}
/* components */
.p_primary_btn {

    padding: 10px 20px;
    background: var(--primary-blue);
    border-radius: 5px;
    color:var(--white);
    font-weight: 600;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

}
.p_secondary_btn {

    padding: 10px 20px;
    color:var(--primary-blue);
    font-weight: 600;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
background: var(--secondary-offwhite);

border: 1px solid var(--primary-blue);
box-sizing: border-box;
border-radius: 5px;

}
/* components */
.pod_count{
    
font-style: normal;
font-weight: 700;
font-size: 5.7em;
color: var(--primary-blue);

}

.pod_hero_subtitle{

font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
color: var(--txt-black);
}
.hero-text-area p {
font-size: 26px;
text-transform: capitalize;
color:var(--main-font);
}
.hero-info-section{
    background: var(--secondary-offwhite);
border-radius: 9px;
padding: 20px;
box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.11);
}
.title_box h4 {
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 38px;
color: var(--primary-blue);
}

/* pricing plan */
.custom-separator {
    width: 100%;
    height: 2px;
    opacity: 0.4;
  }
.pricing-pill{
    width: 10px;
    height: 10px;
    color: var(--white);
}
  /* pricing plan  */
  .bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
        border-left-width: 5px;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: var(--danger);
}
.room_name {
  width: auto;
  background: #474747;
  padding: 22px;
  position: absolute;
  top: 103px;
  text-align: center;
  border-radius: 100px;
  left: 325px;
  min-width: 205px;
  color: white;
}
@media only screen and (max-width: 1370px){
  .room_name {
    left: 237px;
  }
}
.new_meeting {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#vidicon_window {
    background:url('https://i.ya-webdesign.com/images/svg-charts-loading-gif-3.gif') center center no-repeat;
  }
  div#leave_btn {
    width: 50px;
    text-align: center;
    height: auto;
    position: absolute;
    bottom: 23px;
    left: 760px;
    display: none;
}
.leave_meeting {
    height: 50px;
    width: 60px;
    border-radius: 35px;
    text-align: center;
}
div#leave_btn a {
    line-height: 34px;
}

/* collapsible */
.wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  .content-inner {
    padding: 30px;
}
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
/* collapsible */
.side-bar {
  width: 220px !important;
  background: #383838;
  height: 92vh;
  float: left;  
  z-index: 9999;
  word-wrap: break-word;
  overflow-y: auto;
}
/* side bar  */
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
}
.btn_sidebar {
  width: 50%;
    border-radius: 0;
    float: left;
}
/* side bar  */
.btm-btn {
  position: absolute;
  bottom: 30px;
  border-radius: 0;
}